@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body {
  font-family: 'SN Pro', sans-serif;
}
@theme {
  --color-main-color: #9406ff;
  --color-second-color: #f0f2f5;
  --color-third-color: #bb6cff;
  --color-button-color: black;
}
@utility container {
  margin-inline: auto;
}
