@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body {
  font-family: 'SN Pro', sans-serif;
}
@theme {
  --color-main-color: #00d3f3;
  --color-second-color: #f0f2f5;
  --color-third-color: #0092b8;
}
@utility container {
  margin-inline: auto;
}
